
@import './color.scss';

@mixin display_flex {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex_wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@mixin justify_content_between {
	-webkit-justify-content: space-between;
    justify-content: space-between;
}

@mixin justify_content_end {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}
@mixin justify_content_center {
  -webkit-justify-content: center;
  justify-content: center;
}
@mixin justify_content_around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@mixin align_items_center {
	align-items: center;
	-webkit-align-items: center;
}

@mixin flex_wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@mixin flex1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
//mixin
@mixin whp($width, $height, $tpadding, $rpadding, $bpadding, $lpadding) {
	width: $width - $rpadding - $lpadding;
	height: $height - $tpadding - $bpadding;
	padding: $tpadding $rpadding $bpadding $lpadding;
}

// 圆角混合
@mixin border-radius( $radius ){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

// flex class
.flex-left {
	@include display_flex;
}
// 全部居中
.flex-all-center {
	@include display_flex;
	@include justify_content_center;
	@include align_items_center;
}
// 垂直居中
.flex-cross-center {
	@include display_flex;
	@include align_items_center;
}
// 左右靠边平均分布
.flex-between {
	@include display_flex;
	@include justify_content_between;
}
// 左右靠边平均分布并且纵向剧中
.flex-between-center {
	@include display_flex;
	@include justify_content_between;
	@include align_items_center;
}
// 向后分布
.flex-end {
	@include display_flex;
	@include justify_content_end;
}
// flex换行
.flex-wrap {
	@include flex_wrap;
}
.flex1 {
	@include flex1;
}
/*超出省略*/
.fellip {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
}
.fellip2 {
  line-height: 22px;
  height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  word-wrap: normal;
  word-break: break-all;
}
